* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
    color:  #ccc;
}

p {
    text-align: center;
    padding: 5px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.car {
    height: 180px;
    width: 180px;
    padding: 10px;
    margin: 15px;
    color: white;    
}

span {
    color: yellow;
    font-weight: 900;
}

#carPedro {
    background-color: green;    
}

#carJuca {
    background-color: blue;    
}

#carEdna {
    background-color: red;    
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

form input {
    margin: 10px;
    padding: 5px;
    border-radius: 2px;
}

#content {
    background-color: turquoise;
    padding: 10px;
}



